extends layout

block content
  #page-wrapper
      .row
        .col-lg-12
          h1.page-header Video Uploader
          .row
                .col-lg-6
                  form(role='form')
                    .form-group
                      label StyleId
                      input.form-control(placeholder='StyleID')
                    .form-group
                      label Image File
                      input(type='file')
                    .form-group
                      label Video File
                      input(type='file')
                    button.btn.btn-primary(type='submit') Upload & Continue
