extends layout

block content
  #page-wrapper
      .row
        .col-lg-12
          h1.page-header Video Uploader
          .row
                .col-lg-6
                  form(role='form')
                    .form-group
                      label StyleId
                      input#styleid.form-control(nameplaceholder='StyleID')
                    .form-group
                      label Image File
                      input(type='file')
                    .form-group
                      label Video File
                      input(type='file')
                    button.btn.btn-primary(type='submit') Upload & Continue
  script.
    $(document).ready(function(){
      $('#styleid').blur(function() {
      var data = {};
      $.ajax({
                  type: 'GET',               
                  data: JSON.stringify(data),
                  jsonp: 'callback',
                  url: 'http://localhost:3000/styleid?styleId='+ document.getElementById("styleid").value+'?callback=?',
                  succes: function(data) {
                              alert("ygayscad");
                              console.log('success');
                              console.log(JSON.stringify(data));
                          },
                  error: function(err) {
                              alert(err+"error");
                          }
              });
      });
    });



